body{
text-align:center;
font-family:Arial;
background-image:url("https://images.unsplash.com/photo-1584551246679-0daf3d275d0f");
background-size:cover;
background-position:center;
background-repeat:no-repeat;
min-height:100vh;
color:white;
}

button{
padding:15px;
font-size:20px;
background:#2c6e49;
color:white;
border:none;
border-radius:8px;
cursor:pointer;
}

button:hover{
background:#1b4332;
}

#ad-space{
margin:20px;
padding:20px;
background:rgba(0,0,0,0.5);
border-radius:10px;
}
